@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.storybook-button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 75px;
  border-radius: 55px;

  color: white;
  background: #aaa1c8;
  box-shadow: 5px 4px 4px 5px rgba(150, 122, 161, 0.25);
}

/* .storybook-button--primary {
  color: white;
  background: #AAA1C8;
  box-shadow: 5px 4px 4px 5px rgba(150, 122, 161, 0.25);

} */
.storybook-button--small {
  font-size: 42px;
  padding: 10px 28px;
}
.storybook-button--medium,
.storybook-button--primary {
  font-size: 54px;
  padding: 18px 40px;
}
.storybook-button--large {
  font-size: 64px;
  padding: 20px 42px;
}
